*{
  margin:0;
  padding:0;
  outline:0;
}

html{
  display:flex;
  width:100vw;
  height:100vh;
  background-color:#ffda99;
}

body{
  display:flex;
  flex-direction:column;
  width:100%;
}

main{
  display:flex;
  flex-wrap:wrap;
  flex-grow:1;
  width:100%;
}

#calendar{
  background: rgb(214,231,241);
  background: linear-gradient(0deg, rgba(214,231,241,0.6) 0%, rgba(120,171,222,1) 100%);
  display:flex;
  flex-direction:column;
  flex-grow:900;
  border-left:1px solid black;
}

#year{
  padding:2% 0 2% 0;
  text-align:center;
  font-family:'Syne', 'Courier';
  color:white;
  font-size:2em;
  border-bottom:3px solid;
  border-image:linear-gradient(90deg, rgba(255,255,255,0) 1%, #FFFF 50%, rgba(255,255,255,0) 100%);
  border-image-slice: 1;
  position:relative;
}

#year_h2 i{
  font-size:0.6em;
  margin-right:5%;
  margin-left:5%;
}

#year h2:hover{
	cursor:default;
}

.year_fade{
  font-size:0.8em;
  opacity:0.7;
  filter:blur(1px);
}

.fa-chevron-left, .fa-chevron-right{
	position:relative;
}

.year_fade_right{
	position:absolute;
	font-family:'Syne', 'Courier';
	left:200%;
	bottom:0;
	font-size:1em;
}

.year_fade_left{
	position:absolute;
	font-family:'Syne', 'Courier';
	right:200%;
	bottom:-1%;
	font-size:1em;
}

.fa-chevron-right:hover .year_fade_right{
  opacity:1;
  filter:blur(0);
  transition:0.6s;
  font-size:1.5em;
}

.fa-chevron-left:hover .year_fade_left{
  opacity:1;
  filter:blur(0);
  transition:0.6s;
  font-size:1.5em;
}

.fa-chevron-right:hover{
  cursor:pointer;
  transform: translate(8px);
  transition:0.6s;
}

.fa-chevron-left:hover{
  cursor:pointer;
  transform: translate(-8px);
  transition:0.6s;
}

#add_event{
  position:absolute;
  display:inline-block;
  top:auto;
  left:2.5%;
  z-index:1;
}

#add_event_button{
  text-decoration:none;
  background-color:inherit;
  border:none;
  color:white;
  font-size:1.7em;
  text-shadow:1px 0 black, 0 1px black;
  z-index:5;
}

#add_event_button:hover{
  cursor:pointer;
  color:#7DEA7D;
  transition:0.4s;
}

#add_event_text{
  display:none;
  position:absolute;
  width:auto;
  height:auto;
  background-color:#6E8AA9;
  z-index:1;
  padding:5%;
  border-radius:8px;
  top:85%;
  border:2px solid white;
}

#add_event_text:hover{
  transform:translate(10%, 10%) scale(1.2, 1.2);
  transition:0.5s;
}

#add_event:hover #add_event_text{
  display:block;
}

#list_days{
  display:grid;
  grid-template-rows: 8% repeat(5, 1fr);
  grid-template-columns: repeat(7, 1fr);
}

#list_months{
  display:flex;
  flex-wrap:wrap;
  font-family:'Syne', 'Courier';
  font-size:1.5em;
  color:white;
  justify-content: space-between;
}

.month_name, .month_name_selected{
  list-style-type: none;
  padding:1%;
}

.month_name_selected{
	background-color:#6E8AA9;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}

.month_name:hover{
  cursor:pointer;
  background-color:#6E8AA9;
  border-bottom-left-radius:20px;
  border-bottom-right-radius:20px;
}

.day_number, .day_name{
  text-align:right;
  font-family:'Syne', 'Courier';
  color:#330000;
  padding:10%;
}

.day_number{
  font-size:1.2em;
}

.day_name{
  font-size:1.3vw;
}

.day_name{
  display:flex;
  justify-content: center;
  align-items:center;
  border:none;
  border-bottom:1px solid black;
  flex-wrap:wrap;
}

.day_number:hover{
  background-color:#6E8AA9;
  cursor:pointer;
  border-radius:6px;
}

.day_number_up, .day_number_out{
  background:#99A2A5;
}

.day_name_last{
  padding-right:0;
}

.day_name_selected{
	background-color:#6E8AA9;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
}

.day_number_selected{
	border:1px solid black;
	background-color:#DEDDD5;
	border-radius:6px;
  font-weight:600;
}

.day_number:nth-child(7n), .day_name:nth-child(7){
  color:#CC0033;
}

.day_number_out:last-child{
  border-radius:6px;
  color:red;
}

.day_name:hover{
  cursor:pointer;
  background-color:#6E8AA9;
  border-top-left-radius:20px;
  border-top-right-radius:20px;
}

.lines{
	width:80%;
	height:4px;
	margin-left:11%;
  margin-top:5%;
	border-radius:80px;
}

.line_red{
	background-color:#FF0033;
}

.line_green{
	background-color:#009900;
}

.line_yellow{
	background-color:#FFCC00;
}

.line_blue{
	background-color:#0066FF;
}

.day_number_booked .lines{
  opacity:0.4;
}


/****BLOC GAUCHE*****/


#today{
  display:flex;
  flex-direction: column;
  flex-wrap:wrap;
  flex-grow:1;
  width:30%;
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(222,122,147,1) 80%);
  color:white;
  font-family:'Syne', 'Courier';
  padding:2%;
}

#today header{
  display:flex;
  justify-content: space-between
}

#today_h2, #today_h3{
  text-align:right;
  font-size:2em;
  letter-spacing: .2em;
}

#today_number{
  font-size:3em;
  color:#003399;
  text-shadow:1px 0 1px grey, 0 1px 1px grey;
  margin-left:2%;
}

#today_year{
  font-size:150%;
}

#today_month{
  font-size:110%;
  letter-spacing:.3em;
}

#today_day{
  font-size:110%;
}

#todo_list{
  list-style-type:none;
}

#todo_list i{
  font-size:0.5em;
}

#today_todo{
  display:flex;
  flex-grow:1;
  align-items:center;
}

#todo_list{
  display:flex;
  flex-direction:column;
}

.todo{
  font-size:1.5em;
  padding:5% 0 5% 0;
  position:relative;
  display:inline-block;
}

#todo_list time{
  font-size:120%;
}

.todo:nth-child(1) i, .todo:nth-child(1) time{
  color:#FF0033;
  text-shadow:1px 0 1px grey;
}

.todo:nth-child(2) i, .todo:nth-child(2) time{
  color:#009900;
  text-shadow:1px 0 1px grey;
}

.todo:nth-child(3) i, .todo:nth-child(3) time{
  color:#FFCC00;
  text-shadow:1px 0 1px grey;
}

.todo:nth-child(4) i, .todo:nth-child(4) time{
  color:#0066FF;
  text-shadow:1px 0 1px grey;
}

#menu_button{
  font-size:300%;
  background-color:inherit;
  border:none;
  cursor:pointer;
  color:white;
  padding:0 15% 0 15%;
  text-shadow:1px 0 black, 0 1px black;
}

#menu_dropdown{
  display:none;
  position:absolute;
  white-space: nowrap;
  list-style-type: none;
  background-color:#333333;
  width:550%;
  border-radius:10px;
  z-index:1;
}

#menu{
  position:relative;
  display:inline-block;
  height:20%;
  bottom:6%;
}

#menu:hover #menu_dropdown{
  display:block;
}

#menu_button:hover{
  color:#7DEA7D;
}

#menu_dropdown a, #icon a, #radix a{
  text-decoration: none;
  color:white;
}

#menu li{
  padding:8% 5% 8% 5%;
}

#menu li:hover{
  background-color:#72797B;
  border-radius:10px;
  cursor:pointer;
}

#meeting, #icon, #nutella, #radix{
  visibility:hidden;
  position:absolute;
  background-color:#333333;
  color:white;
  top:80%;
  left:50%;
  width:100%;
  border-radius:8px;
  font-size:0.8em;
  z-index:1;
  text-align:center;
  margin-left:-50%;
}

.todo:hover{
  cursor:help;
}

.todo1:hover #meeting, .todo2:hover #icon, .todo3:hover #nutella, .todo4:hover #radix{
  visibility:visible;
}


/*****FORMULAIRE-INTERNE*****/

#formulaire{
  font-size:50%;
}

#formulaire_container{
  display:flex;
}

#new_tab{
  font-size:50%;
  color:white;
  text-decoration:none;
  padding:2%;
}

#new_tab:hover{
  text-decoration:underline;
  border-radius:6px;
}

#formulaire #event_name,#formulaire #event_date,#formulaire #event_description,#formulaire #event_time,#formulaire #event_rappel,#formulaire #event_rappel_y{
  width:80%;
  border-radius:6px;
}

#formulaire select{
  border-radius:6px;
}

#submit_button{
  width:auto;
  color:white;
  border-radius:6px;
  padding:2% 5% 2% 5%;
  margin-top:10%;
  margin-bottom:5%;
  font-family:'Syne', 'Courier';
  background-color:#333333;
}

#submit_button:hover{
  background:#6A6A6A;
  cursor:pointer;
}



/*****FORMULAIRE-EXTERNE*****/

#formulaire_main{
  display:flex;
  justify-content: center;
  align-items: center;
}

#formulaire_all{
  background: rgb(154,196,238);
  background: linear-gradient(45deg, rgba(154,196,238,1) 15%, rgba(222,122,147,1) 85%); 
  display:flex;
  flex-direction:column;
  text-align:center;
  border-radius:10px;
  border:2px solid white;
}

#formulaire_container_2{
  display:flex;
  flex-direction:column;
  padding-top:3%;
  padding-bottom:8%;
}

#formulaire_container_2 input, #formulaire_container_2 select{
  align-self:center;
  width:80%;
  margin-bottom:3%;
  padding:1% 4% 1% 4%;
  outline:0;
  border:2px solid;
  border-image:linear-gradient(to right, grey 1%, #FFF 40%, #FFF 60%, grey 100%);
  border-image-slice:1;
}

#formulaire_all header{
  border-bottom:2px solid;
  border-image:linear-gradient(to right, rgba(255,255,255,0) 1%, #FFF 50%, rgba(255,255,255,0) 100%);
  border-image-slice:8;
}

#formulaire_all h1{
  color:white;
  font-family:'Syne', 'Courier';
  padding:6% 10% 6% 10%;
  font-size:160%;
  text-shadow:1px 0 black, 0 1px black, -1px 0 #9AC4EE, 0 -1px #9AC4EE;}

#formulaire_container_2 label{
  font-family:'Balsamiq Sans', 'Courier';
  color:white;
  font-size:120%;
}

#submit_button_2{
  width:auto;
  color:white;
  border-radius:6px;
  padding:2% 5% 2% 5%;
  margin-bottom:10%;
  font-family:'Syne', 'Courier';
  background-color:#333333;
}

#submit_button_2:hover{
  background:#6A6A6A;
  cursor:pointer;
}
